<!DOCTYPE html>
<html lang="en" ng-app="guerilla">
<head>
    <title>Gorilla UI</title>
    <!-- Decentralize all the things. -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="public/img/gorilla.ico">
    <!-- Bootstrap Core CSS CDN -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous" rel="stylesheet" >
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
    <!-- Local CSS -->
    <link href="public/css/guerilla.css" rel="stylesheet">
    <!-- Angular -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div ng-controller="mainController">
        <div ng-show="loader" 
             style="position:fixed;left:0;top:0;width:100%;height:100%;z-index: 9999;background:rgba(34,34,34,1);display:flex;justify-content:center;align-items:center;"><img src="public/img/loader_large.gif" height="60px"/>
        </div>
        <!-- Navigation -->
        <div id="stats-menu">
            <ul id="sidebar">
                <!-- Status -->
                <li class="menu-item-connection left">
                    <div ng-show="!info.loaded">
                        <h5>
                            <i class="material-icons orange pull-left">lens</i> Loading <img src="public/img/loader.gif" height="14px"/>
                        </h5>
                    </div>
                    <div ng-show="info.loaded">
                        <h5>
                            <i class="material-icons green pull-left">lens</i>&nbsp;&nbsp;online
                            <i class="material-icons icons-lg pull-right">devices</i>
                            <i class="material-icons icons-lg pull-right">wifi</i>
                            <i class="material-icons icons-lg pull-right">sort</i>
                        </h5>
                    </div>
                <!-- Connection items -->
                <li class="menu-item left p2p">
                    <div class="trips livesince">
                        <h5>Up Time</h5><p id="forLoader">{{ info.livesince }}</p>
                    </div>
                    <div class="trips peers">
                        <h5>Peers</h5><p>{{ info.peers }}</p>
                    </div>
                    <div class="trips behind">
                        <h5>Behind</h5><p>{{ info.blocksbehind }}</p>
                    </div>
                </li>
                <!-- Info items -->
                <li class="menu-item left more ghidden"><p>{{ info.ip }}</p><h5>External IP</h5></li>
                <li class="menu-item left more ghidden"><p>{{ info.protocolversion }}</p><h5>Protocol Version</h5></li>
                <li class="menu-item left more ghidden"><p>{{ info.miniblock }}</p><h5>Block</h5></li>
                <li class="menu-item left more ghidden"><p>{{ info.difficulty }}</p><h5>Difficulty</h5></li>
                <li class="dvd ghidden"></li>
                <li class="menu-item left more ghidden"><p>{{ info.txns }}</p><h5>Transactions 24 Hrs</h5></li>
                <li class="menu-item left more ghidden"><p>{{ info.blockmins }}</p><h5>Avg Mins per Block</h5></li>
                <li class="menu-item left more ghidden"><p>{{ info.hashrate }}</p><h5>Hash Rate</h5></li>  
                <li class="dvd ghidden"></li>
                <li class="menu-item left more ghidden"><p>$ {{ info.index }}</p><h5 style="color:#db9100;">Bitcoin Average Price</h5></li>
            </ul>
        </div><!-- /Left-sidebar -->

        <div id="top-bar">
            <ul id="top-list">
                <!-- Brand -->
                <li class="menu-item top pull-left">
                    <img src="public/img/gorilla_orange.png" alt="logo" class="logo"/>
                </li>
                <!-- System Control menu -->
                <li class="menu-item top text-center pull-right" style="font-size:24px;cursor:pointer;">
                    <!-- use controller -->
                    <div ng-controller="pageslideController">

                        <a href="" ng-click="toggle()"><i class="material-icons">more_vert</i></a>
                        <!-- menu content -->
                        <pageslide ps-open="checked" ps-auto-close="true">
                            <div class="slider">
                                <ul>
                                    <li class="slide-item">
                                        <a class="slide-close" href="" ng-click="toggle()">
                                            <i class="material-icons">arrow_forward</i>
                                        </a>
                                    </li>
                                    <li class="slide-item">
                                        <a href="#/home">
                                            <i class="material-icons orange">home</i>&nbsp;&nbsp;Home
                                        </a>
                                    </li>
                                    <li class="slide-item">
                                        <a href="#/settings">
                                            <i class="material-icons orange">tune</i>&nbsp;&nbsp;Settings
                                        </a>
                                    </li>
                                    <li class="slide-item">
                                        <a href="#">
                                            <i class="material-icons orange">person</i>&nbsp;&nbsp;Extra
                                        </a>
                                    </li>
                                    <li class="slide-item">
                                        <a href="#/config">
                                            <i class="material-icons orange">settings</i>&nbsp;&nbsp;Control Panel
                                        </a>
                                    </li>
                                    <li class="slide-item">
                                        <a data-toggle="modal" data-target="#powerModal">
                                            <i class="material-icons orange">power_settings_new</i>&nbsp;&nbsp;Power
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </pageslide>
                    </div>
                </li>
                <li class="menu-item top pull-right">
                    <a data-toggle="modal" 
                       data-target="#updateModal"
                       class="btn btn-danger pull-right" 
                       id="updateBanner"
                       ng-show="needsUpdate == true">Update to v{{updateVersion}}
                    </a>
                </li>
                
            </ul><!-- /Top-list -->
        </div><!-- /Top-nav -->
    </div>
    
    <!-- Placeholder for partials -->
    <div id="wrapper">
            <div ui-view></div>
    </div><!-- / wrapper -->

    
    <!-- Power Shutdown/Restart modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="powerModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Power</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger power-alert" role="alert">
                        <strong>Warning!</strong><br>
                        These buttons should rarely be used. If you use the shutdown button, you must unplug the mini's power and then plug it back in. It will boot back up as normal.<br>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success pull-left">Cancel</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Restart</button>
                    <button type="button" class="btn btn-danger">Shutdown</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Update/New Version modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="updateModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Update Now?</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info power-alert" role="alert">
                        <strong>Start your update? Your Mini will reboot after.</strong><br>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left">Cancel</button>
                    <button type="button" class="btn btn-success">Update</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Footer -->
    <footer>
        <!-- Put some copyright thing here -->
    </footer>

    <!-- Library Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="scripts/pageslide.js"></script>
    <script src="scripts/angular-websocket.min.js"></script>
    <!-- Main Angular Script -->
    <script src="scripts/guerilla.js"></script>
    <!-- Directives, Controllers, and Services Scripts -->
    <script src="scripts/controllers/mainController.js"></script>
    <script src="scripts/controllers/pageslideController.js"></script>
    <script src="scripts/controllers/homeController.js"></script>
    <script src="scripts/controllers/configController.js"></script>
    <script src="scripts/controllers/settingsController.js"></script>
    <script src="scripts/services/getinfo.factory.js"></script>
    <!-- Non Angular Scripts Last -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</body>
</html>