<div class="col-xs-12 editing-title">
	<h3><i class="material-icons xlarge">tune</i>&nbsp;&nbsp;My Mini's Settings</h3>
</div>

<div class="container-fluid editing-table">

	<div class="col-xs-12 col-md-8">
		
		<!-- editing view -->
		<div ui-view></div>

		<!-- System config table -->
		<h4>SYSTEM</h4>
		<table class="table">
			<tbody>
				<tr>
					<td>Email:</td>
					<td class="text-right"><a ui-sref="config.editemail"><i class="material-icons edit">edit</i></a>&nbsp;&nbsp;{{ config.email }}</td>
				</tr>
				<tr>
					<td>Port:</td>
					<td class="text-right"><a ui-sref="config.editport"><i class="material-icons edit">edit</i></a>&nbsp;&nbsp;{{ config.system.PORT }}</td>
				</tr>
				<tr>
					<td>Mininame:</td>
					<td class="text-right">{{ config.system.root }}</td>
				</tr>
				<tr>
					<td>Software Version:</td>
					<td class="text-right">{{ config.system.version.current }}</td>
				</tr>

				<tr>
					<th colspan="2"><h4>BITCOIN CONFIG</h4></th>
				</tr>

				<tr>
					<td>Username:</td>
					<td class="text-right"><a ui-sref="config.editbtcname"><i class="material-icons edit">edit</i></a>&nbsp;&nbsp;{{ config.btc.user }}</td>
				</tr>
				<tr>
					<td>Password:</td>
					<td class="text-right"><a ui-sref="config.editbtcpass"><i class="material-icons edit">edit</i></a>&nbsp;&nbsp;{{ config.btc.pass }}</td>
				</tr>
				<tr>
					<td>Timeout:</td>
					<td class="text-right"><a ui-sref="config.timeout"><i class="material-icons edit">edit</i></a>&nbsp;&nbsp;{{ config.btc.timeout }}</td>
				</tr>
				<tr>
					<td>Port:</td>
					<td class="text-right">{{ config.btc.port }}</td>
				</tr>
			</tbody>
		</table>
	</div><!-- / table -->
	
	<div class="col-xs-12 col-md-4 panel panel-warning">
		<h4>A warning panel</h4>
		<p>Here we can give a quick reference for the options, maybe with links to more info. Add this to give the table on the left a better layout.</p>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<p>Something else....</p>
	</div>

</div>
