<div class="editing-title container-fluid">
	<h3>
		<i class="material-icons xlarge">dashboard</i>&nbsp;&nbsp;Dashboard
	</h3>
</div>

<div class="container-fluid" id="home-tiles">
		<div class="col-xs-12 col-md-4" style="margin-bottom:20px;">
		   	<div class="home-tile markets">
		   		<div class="dimmer">
		   			<div class="inner-tile">
		   				<h2>BANDWIDTH</h2>
		   				<div class="number-box">
		   					<p class="hlabel">UPLOAD</p>
							<p class="hnumbers">204.876 GB</p>
							<p class="hlabel">DOWNLOAD</p>
							<p class="hnumbers">503.909 GB</p>
		   				</div>
		   				
		   			</div>
		   		</div>
		   
			</div>
		</div>

		<div class="col-xs-12 col-md-4" style="margin-bottom:20px;">
		   	<div class="home-tile news">
		   		<div class="dimmer">
		   			<div class="inner-tile">
		   				<h2>STORAGE</h2>
		   				<div class="number-box">
			   				<p class="hlabel">DISKSPACE</p>
							<p class="hnumbers">124.2 GB</p>
							<p class="hlabel">FREE</p>
							<p class="hnumbers">67.456 GB</p>
						</div>
		   			</div>
		   		</div>
		   
			</div>
		</div>

		<div class="col-xs-12 col-md-4" style="margin-bottom:20px;">
		   	<div class="home-tile bitcoin-tile">
		   		<div class="dimmer">
		   			<div class="inner-tile">
		   				<h2>BLOCKCHAIN</h2>
		   				<div class="number-box">
			   				<p class="hlabel">SIZE</p>
							<p class="hnumbers">54.2 GB</p>
							<p class="hlabel">MINI PEERS</p>
							<p class="hnumbers">5</p>
						</div>
		   			</div>
		   		</div>
		   
			</div>
		</div>
</div>

